.my-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.my-skills>div{
    background: var(--color-bg-variant);
    padding: 2rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.my-skills>div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.my-skills>div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}
.skills-content{
    display: grid;
    row-gap: 1rem;
}
.skills-details{
    margin: 5px;
}

 .skill{
  font-size: large;
  list-style-type: disc;
 }

@media screen and (max-width: 1024px) {
    .my-skills {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .my-skills > div {
        width: 80%;
        margin: 0 auto;
    }
    .skills-content {
        column-gap: 2rem;
    }
}

/* Media queries SM */

@media screen and (max-width: 600px) {
    .my-skills {
        gap: 1.2rem;
    }
    .my-skills > div {
        width: 100%;
    }

    }