nav{
   justify-content: right;
   display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    margin: 5px;
    
}
nav a{
    background-color: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover{
    background: darkslategrey;
}
nav a.active{
    background: var(--color-bg);
    color: var(--color-white);
}
